body {
  background-image: url(https://unsplash.it/1400/799);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3E363F;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.modal {
  margin: 150px 550px;
  text-align: center;
  border: 1px;
  background-color: #3E363F;
}